<a href="https://colab.research.google.com/github/hjcamargon/Laboratorio/blob/master/Clase_3_bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BUCLE FOR

In [1]:
my_range = range(6)
list(my_range)

[0, 1, 2, 3, 4, 5]

In [2]:
numbers = [1,2,3,4,5,6]

for number in numbers:    #el iterador no es necesario declararlo
  print(number)

1
2
3
4
5
6

In [3]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [8]:
for j in range(-10,10,2):
  print(j)

-10
-8
-6
-4
-2
0
2
4
6
8

In [15]:
lista = []

for i in range(10):
  lista.append(i)
  print(lista)
print(lista) #imprimir fuera del bucle

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
count = 0
pets = ['cat','dog','fish']

for pet in pets:
  print(pet)
  count += 1  #es la forma de abreviar count = count + 1
print(count)

cat
dog
fish
3

In [20]:
surnames = ['Cortes','Camargo','Torres','Beltran']

for position in range(len(surnames)):
  print(surnames[position])

Cortes
Camargo
Torres
Beltran

In [21]:
surnames = ['Cortes','Camargo','Torres','Beltran']

for position,surname in enumerate(surnames):
  print(position,surname)

0 Cortes
1 Camargo
2 Torres
3 Beltran

In [22]:
surnames = ['Cortes','Camargo','Torres','Beltran']

for position,surname in enumerate(surnames, start=1):  #enumerate es una funci√≥n
  print(position,surname)

1 Cortes
2 Camargo
3 Torres
4 Beltran

In [23]:
number = 10

for i in range(15):
  if i % 2 == 0:
    print(f"El numero {i} es par")

El numero 0 es par
El numero 2 es par
El numero 4 es par
El numero 6 es par
El numero 8 es par
El numero 10 es par
El numero 12 es par
El numero 14 es par

In [ ]:
number = 10

for i in range(15):
  if i % 2 == 0:
    print(f"El numero {i} es par")
  else:
    print(f"El numero {i} es impar")

In [ ]:
number = 10

for i in range(15):
  if i % 2 == 0:
    print(f"El numero {i} es par")
  else:
    print(f"El numero {i} es impar")

In [29]:
number = 10

for i in range(15):
    if i == number:
        break
    if i % 2 == 0:
      print(f"El numero {i} es par")
    else:
      print(f"El numero {i} es impar")

El numero 0 es par
El numero 1 es impar
El numero 2 es par
El numero 3 es impar
El numero 4 es par
El numero 5 es impar
El numero 6 es par
El numero 7 es impar
El numero 8 es par
El numero 9 es impar

**EJERCICIO**

Crear clave de acceso a una cuenta y si la misma no es correcta despu√©s de 3 intentos mostrar mensaje de bloqueo

In [ ]:
clave = 'P@ssword'
print('Bienvenido, Digite la contrase√±a para ingresar')

for intento in range(3):
  ing = input('clave: ')
  if ing == clave:
    print('Acceso concedido')
    break
  else:
    if intento == 2:
      print('Usuario bloqueado')

In [ ]:
password = ''
conteo = 1

while password != 'xyz':
  password = input('Enter your password: ')

  if password == 'xyz':
    print('Correct Password')
    break
  else:
    if conteo < 3:
      print("Access Denied")
      print(conteo, "Intento")
      conteo += 1
    else:
      print("Password Locked")
      break

In [52]:
list_example = [9,'car','house','dog',10,11]
print(list_example)
for element in list_example:
  if type(element) != int:
    continue
  print(f"el numero {element} es entero")

[9, 'car', 'house', 'dog', 10, 11]
el numero 9 es entero
el numero 10 es entero
el numero 11 es entero